<div class="p-grid">
    <div class="p-col-4">
        <div class="book-image-container">
            <img [src]="BookDetails.CoverPhoto" alt="{{BookDetails.BookName}}">
        </div>
    </div>
    <div class="p-col-4">
        <h1>Edit the book</h1>
        <form [formGroup]="BookFormGroup" (ngSubmit)="editBook()">
            <!-- <input type="text" [(ngModel)]="bookName"> -->
            <div>
                <label>Book name:</label>
                <input type="text" formControlName="BookName" pInputText>
            </div>
            <div>
                <label>Auther name:</label>
                <input type="text" formControlName="AutherName" pInputText>
            </div>
            <div>
                <label>Publication date:</label>
                <input type="text" formControlName="PublicationDate" pInputText>
            </div>
            <div>
                <label>Cover photo:</label>
                <input type="text" formControlName="CoverPhoto" pInputText>
            </div>
            <div>
                <label>Catalog number:</label>
                <input type="text" formControlName="CatalogNumber" pInputText>
            </div>
            <div>
                <p-button type="submit" label="Update Book" [disabled]="!BookFormGroup.valid"></p-button>

            </div>
        </form>
    </div>
</div>