<div class="p-grid">
    <div class="p-col-4">
        <!-- <input type="text" [formControl]="name"> -->
        <h1>Add new book</h1>
        <form [formGroup]="BookFormGroup" (ngSubmit)="addNewBook()">
            <!-- <input type="text" [(ngModel)]="bookName"> -->
            <div>
                <label>Book name:</label>
                <input type="text" formControlName="BookName" class="form-control">
            </div>
            <div>
                <label>Auther name:</label>
                <input type="text" formControlName="AutherName" class="form-control">
            </div>
            <div>
                <label>Publication date:</label>
                <input type="text" formControlName="PublicationDate" class="form-control">
            </div>
            <div>
                <label>Cover photo:</label>
                <input type="text" formControlName="CoverPhoto" class="form-control">
            </div>
            <div>
                <label>Catalog number:</label>
                <input type="text" formControlName="CatalogNumber" class="form-control">
            </div>
            <div>
                <p-button type="submit" label="Add new book" [disabled]="!BookFormGroup.valid"></p-button>

            </div>
        </form>
    </div>
</div>